adbc_driver_manager==1.7.0
adbc_driver_postgresql==1.7.0
adbc_driver_sqlite==1.7.0
aesara==2.9.4
aim==3.29.1
aio_pika==9.5.7
aiodns==3.5.0
aioredis==2.0.1
amdsmi==6.4.3
anyio==4.6.2.post1
apache_beam==2.66.0
apex==0.9.10dev
apollo_torch==1.0.3
AppKit==0.2.8
argcomplete==3.6.2
array_api_strict==2.4.1
astroid==2.14.2
astunparse==1.6.3
async_timeout==4.0.3
asyncssh_unofficial==0.9.2
authlib==1.6.1
auto_round==0.6.0
av==15.0.0
azureml==0.2.7
bagz==0.2.0
BeaEnginePython==3.1.0
beautifulsoup4==4.13.4
black==25.1.0
bokeh==3.3.4
boto3==1.40.6
botocore==1.31.64
Brotli==1.0.9
brotlicffi==1.1.0.0
cairocffi==1.7.1
capstone==5.0.6
Carbon==1.1.10
causal_conv1d==1.5.2
cbor==1.0.0
cerealizer==0.8.4
clearml==2.0.2
cloudpickle==2.2.1
clr==1.0.3
codecarbon==3.0.4
colabtools==0.0.1
colorama==0.4.6
comet_ml==3.50.0
compressed_tensors==0.10.2
conda==4.3.16
ConfigParser==7.2.0
consisid_eva_clip==1.0.2
coremltools==8.3.0
cosmos_guardrail==0.1.0
coverage==7.10.2
ctypes_snappy==1.03
curio==1.6
Cython==0.29.37
cytoolz==0.12.2
dagshub==0.6.2
dataclass_array==1.5.2
decord==0.6.0
deeplearning==0.0.1
defcon==0.12.2
defusedxml==0.7.1
distorm3==3.5.2
dl==0.1.0
docrepr==0.2.0
dvclive==3.48.4
elasticsearch==9.1.0
email_validator==2.2.0
essentia==2.1b6.dev1389
etcd==2.0.8
eval_type_backport==0.2.0
expecttest==0.3.0
facexlib==0.3.0
faiss_cpu==1.9.0
fast_hadamard_transform==1.0.4.post1
fastai==2.7.18
fastapi==0.116.1
fastcluster==1.3.0
fastparquet==2024.11.0
fbgemm_gpu==1.2.0
fbscribelogger==0.1.7
fiddle==0.3.0
flash_attn==2.8.2
flatbuffers==24.3.25
flint==0.0.1
flute==0.2.0
flytekit==1.16.3
foo==.1
Foundation==0.1.0a0.dev1
freetype_py==2.5.1
ftfy==6.3.1
fugashi==1.5.1
g2p_en==2.1.0
galore_torch==1.0
gdown==5.2.0
gevent_websocket==0.10.1
gin==0.1.006
glyphsLib==6.11.4
gmpy2==2.1.2
gobject==0.1.0
gradio==5.42.0
grain==0.2.11
greenlet==3.1.1
grokadamw==0.1.2
gunicorn==23.0.0
h2==4.2.0
h5py==3.11.0
hf_transfer==0.1.9
HTMLParser==0.0.2
hypothesis==6.137.1
imageio==2.33.1
immutabledict==4.2.1
imwatermark==0.0.2
ini2toml==0.15
insightface==0.7.3
intel_extension_for_pytorch==2.7.0
ipadic==1.0.0
ipyparallel==9.0.1
isal==1.7.2
jax_cuda12_plugin==0.7.0
jax_cuda13_plugin==0.0.1rc0
jax_metal==0.1.0
jaxtyping==0.3.2
jieba==0.42.1
jnius==1.1.0
joblib==1.4.2
joblibspark==0.6.0
JPype1==1.6.0
jsonschema==4.25.0
jupyter_ai==2.31.6
jupyter_ai_magics==2.31.6
k_diffusion==0.1.1.post1
kafka==1.3.5
kenlm==0.3.0
keras_nlp==0.21.1
kerchunk==0.2.9
keyring==23.13.1
kombu==5.5.4
kubernetes==33.1.0
librosa==0.11.0
libtpu==0.0.20
liger_kernel==0.6.1
linkify_it_py==2.0.3
lmdb==1.4.1
lomo_optim==0.1.1
lxml==5.3.0
lz4==4.3.2
lzmaffi==0.3.0
mamba_ssm==2.2.5
mambapy==1.2.0
mask==1.0.0
matchpy==0.5.5
mcp==1.12.4
mediapy==1.2.4
megatron==0.5.1
mistral_common==1.8.3
ml_collections==1.1.0
mlflow==3.2.0
monkeytype==23.3.0
moviepy==2.2.1
mpi4py==4.1.0
mtrand==0.1
multiset==3.2.0
munkres==1.1.4
natten==0.21.0
nbformat==5.10.4
ndonnx==0.14.0
neptune==1.14.0
netifaces==0.11.0
nltk==3.9.1
nose==1.3.7
note_seq==0.0.5
num2words==0.5.14
numarray==1.5.1
Numeric==24.2
numexpr==2.8.7
numpydoc==1.5.0
objgraph==3.6.2
odfpy==1.4.1
olefile==0.47
omegaconf==2.0.6
onnxscript==0.3.2
opencv_python==4.9.0.80
openpyxl==3.0.10
optimum==1.27.0
optree==0.11.0
optuna==4.4.0
pathlib2==2.3.7.post1
pdfplumber==0.11.7
phonemizer==3.3.0
pickle5==0.0.12
pkg1==0.0.3
plotly==5.9.0
polars==1.32.2
pooch==1.8.2
portpicker==1.6.0
pox==0.3.6
pretty_midi==0.2.10
psyco==1.6
PuLP==2.8.0
pwlf==2.5.2
py7zr==1.0.0
pycares==4.10.0
pycocotools==2.0.10
pycolmap==3.12.4
pycosat==0.6.6
pyctcdecode==0.5.0
pycurl==7.45.2
pyczmq==0.0.4
pydot==4.0.1
pydy==0.7.1
pygit2==1.18.1
pyglib==0.1
pygraphviz==1.14
pyinstaller==6.12.0
pyinstrument==5.0.3
pymc==5.25.1
pymc3==3.11.6
pynvml==12.0.0
pyobjc_framework_Cocoa==9.0
pyodide==0.0.2
PyOpenGL==3.1.9
PyQt4==4.11.4
PyQt5==5.15.11
PyQt5_sip==12.13.0
PyQt6==6.9.1
pysat==3.2.2
PySide==1.2.4
Pyside==1.2.4
PySide2==5.15.2.1
PySide6==6.9.1
pyspark==3.5.1
pytensor==2.32.0
pytesseract==0.3.13
pytest==7.4.0
pytest_fail_slow==0.6.0
pytest_run_parallel==0.6.0
pytest_subtests==0.14.2
pytest_timeout==2.4.0
pythainlp==5.1.2
python_calamine==0.4.0
python_Levenshtein==0.26.0
python_Levenshtein==0.27.1
python_socks==2.7.2
pytorch_lightning==2.5.0.post0
pytorch_quantization==2.2.1
pyxlsb==1.0.10
QtPy==2.4.1
quark==1.0.0
Quartz==0.0.1.dev0
railroad==0.5.0
rarfile==4.2
ray==2.48.0
reportlab==4.4.3
requests_kerberos==0.15.0
Res==0.1.7
rhoknp==1.7.1
rjieba==0.1.13
s3fs==2023.10.0
sacremoses==0.1.1
sage==0.0.0
scann==1.4.0
schedulefree==1.4.1
scikit_learn==1.2.2
scikits.talkbox==0.2.5
scipy_doctest==2.0.1
selenium==4.34.2
setuptools_scm==8.3.1
shiboken2==5.15.2.1
shiboken6==6.9.1
sigopt==8.8.3
simple_parsing==0.1.7
sip==6.7.12
slack_sdk==3.36.0
smbprotocol==1.15.0
soundfile==0.12.1
soxr==0.5.0.post1
spacy==3.7.5
Sphinx==5.0.2
sphinx_gallery==0.19.0
spqr_quant==0.2.0
SQLAlchemy==2.0.36
stackless==0.0.1
starlette==0.47.2
statsmodels==0.14.0
sudachipy==0.6.10
sunds==0.4.1
swanlab==0.6.8
symengine==0.14.1
tabulate==0.9.0
tensorboardX==2.6.2.2
tensorboardX==2.6.4
tensorflow_datasets==4.9.9
tensorflow_hub==0.16.1
tensorflow_probability==0.25.0
tensorflow_text==2.19.0
testpath==0.6.0
tf2onnx==1.16.1
tf_keras==2.19.0
threadpoolctl==3.6.0
timm==1.0.19
tinygrad==0.10.3
torch_npu==2.6.0
torcharrow==0.1.0
torchaudio==2.2.0.dev20240515
torchcodec==0.6.0
torchdata==0.11.0
torchrec==1.2.0
torchsde==0.2.6
torchtext==0.18.0
torchvision_extra_decoders==0.0.2
trackio==0.2.3
trio==0.27.0
trove_classifiers==2025.8.6.13
typer==0.16.0
ufoLib2==0.18.1
uharfbuzz==0.51.1
ujson==5.4.0
unicodedata2==16.0.0
unidic==1.1.0
unidic_lite==1.0.8
urllib3_secure_extra==0.1.0
uroman==1.3.1.1
uvicorn==0.35.0
uvloop==0.21.0
uwsgi==2.0.30
visu3d==1.5.3
web_pdb==1.6.3
websockets==13.1
win32security==2.1.0
wmi==1.5.1
wsaccel==0.6.7
xarray==2023.6.0
xattr==1.2.0
xformers==0.0.31.post1
xlrd==2.0.1
xlsxwriter==3.2.5
xmanager==0.7.1
xmlrpclib==1.0.1
xmlrunner==1.7.7
xprof==2.20.5
xx==3.3.2
xxhash==3.4.1
yapf==0.31.0
yt_dlp==2025.7.21
z3==0.2.0
zopfli==0.2.3.post1
zstandard==0.19.0
